* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
}
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "poppins", sans-serif;
}
header {
  background-color: #be3144;
  position: fixed;
  width: 100vw;
  border-bottom: 2px solid rgb(0, 0, 0);
}
ul {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
li a {
  color: white;
  display: inline-block;
  padding: 2rem;
  font-size: 2.2rem;
}
li a:hover {
  background-color: blue;
}

#intro {
  color: white;
  height: 100vh;
  background-color: black;
  /* background-image: ; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#intro h1 {
  color: white;
  font-weight: 700;
  font-size: 4.2rem;
}
#intro p {
  font-size: 2rem;
  font-weight: 200;
  font-style: italic;
  color: red;
}

#projects {
  background-color: #45567d;
  text-align: center;
}
#projects h2 {
  font-size: 3rem;
  text-align: center;
  color: white;
  border-bottom: 2px solid white;
  margin: 0 auto 6rem auto;
  width: 800px;
  padding-top: 2rem;
}

.project_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin: 0px auto;
  padding: 3rem;
}

img {
  display: block;
  height: 50vh;
  width: 95%;
}
.projects p {
  background-color: #293045;
  width: 95%;
  color: white;
  padding: 1.5rem;
}
.tag {
  color: #293045;
  transition: 400ms ease;
}
.projects:hover .tag {
  color: orangered;
}
.btn {
  display: block;
  width: 8rem;
  background-color: #293045;
  padding: 1rem;
  margin: 0 auto;
  color: white;
  transition: 400ms ease;
}
.btn:hover {
  background-color: #be3144;
}
#work {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: #303841;
}
#work h2 {
  color: white;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 1rem;
}
#work p {
  font-style: italic;
  color: white;
  margin-bottom: 2rem;
}
#work a {
  margin-right: 1rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 2px 3px black;
}
#work a:hover {
}

footer {
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  background-color: #303841;
  border-top: 4px solid red;
  color: white;
  text-align: center;
  height: 20vh;
}
footer .fake {
  margin-right: 15rem;
}
footer p {
  display: inline;
  font-weight: bolder;
}
